[*.cs]

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# RCS1021: Simplify lambda expression.
dotnet_diagnostic.RCS1021.severity = none

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = false:none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# RCS1090: Call 'ConfigureAwait(false)'.
dotnet_diagnostic.RCS1090.severity = none

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = none

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable:none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# IDE0035: Unreachable code detected
dotnet_diagnostic.IDE0035.severity = silent

# CS0162: Unreachable code detected
dotnet_diagnostic.CS0162.severity = silent

# IDE0008: Use explicit type
csharp_style_var_elsewhere = false:none

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = true:none

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = true:none

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none

# RCS1155: Use StringComparison when comparing strings.
dotnet_diagnostic.RCS1155.severity = suggestion

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none
csharp_style_namespace_declarations=file_scoped:warning
